.App {
    margin: 50px;
    background-color: #f2f6fc;
    border-radius: 5px;
    overflow: hidden;
  }
  .main{
    margin: 2rem 10rem;
  }
  
  .white_bg_button{
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    padding: 10px 20px;
  }
  
.pointer{
    cursor: pointer;
}